<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap"
  rel="stylesheet"
/>
<div class="whole">
  <h1 style="font-family: Playpen Sans; text-align: center; font-weight: 700">
    Tic-Tac-Toe
  </h1>
 
  <img
    src="https://media3.giphy.com/media/vJfWmEboAQS1YXQe6a/200w.gif?cid=6c09b952kwhcv39tyn54dgqsq8phy48g0aewzr9yx7f5szch&ep=v1_gifs_search&rid=200w.gif&ct=g"
    alt=""
  />
  <button class="play-button" routerLink="/game-board">Play</button>
</div>
