<div class="container">
  <div class="game-board">
    @if(winner) { @if(winner=='Draw') {
    <h2>It's a draw</h2>
    } @else {
    <h2>Congratulations ! {{ winner }} is the winner</h2>
    } }
    <ng-container *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <button class="box" (click)="makeMove(i, j)">
          {{ cell }}
        </button>
      </ng-container>
    </ng-container>
    <div class="reset-buttons">
      <button (click)="newGame()" class="set-buttons">Reset Game</button>
      <button (click)="newGame()" class="set-buttons">New game</button>
    </div>
  </div>
</div>
